.logo__container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 350px;
    height: 350px;
    margin-right: 2rem;

    border: 8px solid var(--color-footer);
    border-radius: 5%;
}

.logo_rp{
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-image: url('../../assets/robophantom.svg');
    position: absolute;
    opacity: 1;
    animation: fade 6s linear infinite, rotateY 6s infinite linear;
    z-index: 5;
}

@keyframes fade {
    0%,
    100%,
    50% {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
}
  
@keyframes rotateY {
    to {
        transform: rotateY(360deg);
    }
}

@media screen and (max-width: 1150px) {
    .logo__container{
        margin-right: 0;
    }
}

@media screen and (max-width: 450px) {
    .logo__container{
        width: 280px;
        height: 280px;
    }

    .logo_rp{
        height: 260px;
    }  
}