@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400&family=Playfair+Display:wght@400;500;600;700&display=swap');

:root {
  --font-base: 'Lora', serif;
  --font-alt: 'Playfair Display', serif;
  
  --color-letter: #EEEEEE;
  --color-letter-hover: #888888;
  --color-nav: #222831;
  --color-bg: #393E46;
  --color-footer: #B55400;
  --color-footer-hover: #884306;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}